<h3>Edit Your Profile</h3>
<form action="/users/<%= current_user.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>">
	<p>
		First Name: &ensp;
		<input type="text" name="first_name" value="<%= user.first_name %>">
	</p>
	<p>
		Last Name: &ensp;
		<input type="text" name="last_name" value="<%=  user.last_name %>">
	</p>
	<p>
		Email: &ensp;
		<input type="text" name="email" value="<%= user.email %>">
	</p>
	<p>
		City: &ensp;
		<input type="text" name="city" value="<%= user.city %>"> &ensp; 
		<select name="state">
			<% CS.states(:us).each do |state| %>
				<option value="<%= state %>"><%= user.state %></option>
			<% end %>
		</select>
	</p>
	<input type="submit" value="Update Records">
</form>
