<!DOCTYPE html>
<html>
  <head>
    <title>BeltReviewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:errors] %>
          <% flash[:errors].each do |e| %>
              <%= e %>
          <% end %>
      <% end %>

      <% if current_user %>
          <form action="/sessions/<%= current_user.id %>" method="post">
              <input type="hidden" name="_method" value="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="submit" value="Log Out">
          </form>
          <p><a href="/events">Event Dashboard</a></p>
          <p><a href="/users/<%= current_user.id %>">Edit My Profile</a></p>
      <% end %>
    <%= yield %>
  </body>
</html>
